@page "/todo"

<h1>Todo (@todos.Count(todo => !todo.IsDone))</h1> @*this is the header and counts number of todo items not checked as done*@

<ul>
    @foreach (var todo in todos)
    {
        
        <li>
            <input type="checkbox" @bind="todo.IsDone" /> @*creates a checkbox and sets checked items to isDone = true*@
            <input @bind="todo.Title" />
        </li>
    }
</ul>

<input placeholder="Something todo" @bind="newTodo" /> @*input textbox for naming todos*@
<button @onclick="AddTodo">Add todo</button> @*adds a todo with whatever is in the textbox*@

<br /><button @onclick="RemoveTodo">Clear</button> 

@code {
    private List<TodoItem> todos = new();
    private string newTodo;

    private void AddTodo() @*function for adding todos to the list*@
    {
        if (!string.IsNullOrWhiteSpace(newTodo)) 
        {
            
            todos.Add(new TodoItem { Title = newTodo }); @*sets Title = to the string newTodo and adds it to the list*@
            newTodo = string.Empty; @*deletes what newTodo is holding so another todo can be added*@
        }
    }
    private void RemoveTodo (){ @*clears the whole list*@
        todos.Clear();
    }
}